@model KrishnaFinance.Models.Application

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>

    html, body {
        height: 100%;
        overflow: auto;
       
    }
    .cnt {
        width: 820px;
        padding: 5px;
        font-size: 12px;
    }

    .lh {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .Save {
        margin-top: 18px;
        margin-left:10px;
    }

    .wrapper-content {
        padding: 0px 10px 40px;
    }

    .fileUload {
        margin-top: 23px;
    }


    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .main {
        width: 50%;
        margin: 50px auto;
    }

    / Bootstrap 4 text input with search icon /

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
</style>
<div class="row hedaerrow">
    <div class="col-sm-6">
        <h2 class="">Loan Application</h2>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 form-group">
        <a class="btn btn-primary btn-md Save pull-right " href="/Master/ApplicationList">Cancel</a>
     
          @if (Model.ApplicantID != 0 )
          {
            <button type="button" class="btn btn-primary btn-md Save pull-right" id="btnApproveRequest">Send To Approval</button> ;
          }

            <button type="button" class="btn btn-primary btn-md Save pull-right" id="Save">Save</button>  
            &nbsp;
        </div>
    </div>
    <hr class="lh" />
    <div class="ibox-content" >

        <div class="row">

            <div class="col-md-6">
                <div class="ibox-title">
                    Applicant Details
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label> Name</label>
                        @Html.HiddenFor(a => a.ApplicantID, new { @id = "ApplicantID" })
                        <input id="ApplicantFullName" type="text" class="form-control" placeholder=" Name" value="@Model.ApplicantFullName">
                        <div class="text-danger" id="ApplicantFullName"></div>
                    </div>

                    <div class="form-group">
                        <label for="position" class="col-form-label">Age</label>
                        <input id="ApplicantAge" type="text" class="form-control" placeholder="Age" value="@Model.ApplicantAge">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label>Loan Amount</label>
                        <input id="LoanRequest" type="text" class="form-control" placeholder="Loan Amount" value="@Model.LoanRequest">
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label">Loan Reason</label>
                        <input id="LoanReason" type="text" class="form-control" placeholder="Reason" value="@Model.LoanReason">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label"> Occupation</label>
                        <input id="ApplicantOccupation" type="text" class="form-control" placeholder="Occupation" value="@Model.ApplicantOccupation">
                    </div>
                    <div class="form-group">

                        <label>Mobile No</label>
                        <input id="MobileNo" type="text" class="form-control" placeholder="Mobile No" value="@Model.MobileNo">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">

                        <label for="position" class="col-form-label"> Monthly Income</label>
                        <input id="ApplicantMonthlyIncome" type="text" class="form-control" placeholder="Monthly Income" value="@Model.ApplicantMonthlyIncome">
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label">Permanent Address</label>
                        <input id="PermanentAddress" type="text" class="form-control" placeholder="Permanent Address" value="@Model.PermanentAddress">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label">Present Address</label>
                        <input type="checkbox" id="PAddress" title="" style="margin: 0 0 0;" />
                        <small>same Permanent Address</small>
                        <input id="PresentAddress" type="text" class="form-control" placeholder="Present Address" value="@Model.PresentAddress">
                    </div>



                    <div class="form-group">
                        <label for="position" class="col-form-label">Office Address</label>
                        <input id="OfficeAddress" type="text" class="form-control" placeholder="Office Address" value="@Model.OfficeAddress">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label">Pan Card</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pan Card" id="PanNo" value="@Model.PanNo" />
                            <span class="input-group-addon">

                                <input type="file" id="AddPanFile" class="PanCardPath" style="display:none" />
                                <i class="fa fa-paperclip" id="AddPanCard" title="Attach PenCard Xero"></i>
                            </span>
                        </div>
                        <div id="viewImg">
                        </div>
                        <a href="@Model.Pancardpath" target="_blank" id="PanfileLink" name="">
                            @if (Model.Pancardpath != null)
                            {
                                <label id="PanfileName">View</label>           
                            }
                            else
                            {
                                <label id="PanfileName"></label>
                            }

                        </a>

                    </div>


                    <div class="form-group">
                        <label for="position" class="col-form-label">Aadhar Card </label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Aadhar Card " id="AdharCardNo" value="@Model.AdharCardNo" />
                            <span class="input-group-addon">
                                <input type="file" id="AddAdharFile" class="AadharCardPath" style="display:none" />
                                <i class="fa fa-paperclip" id="AddAadharCard" title="Attach AadharCard Xero"></i>
                            </span>
                        </div>
                        <div id="adharView">

                        </div>
                        <a href="@Model.Adharcardpath" target="_blank" id="AdharfileLink">
                        @if (Model.Adharcardpath != null)
                        {
                            <label id="AdharfileName">View</label>
                        }
                        else
                        {
                            <label id="AdharfileName"></label>
                        }
                            </a>
                    </div>
                </div>
                <div class="col-sm-6 b-r">

                    <div class="form-group">
                        <label for="position" class="col-form-label">Bank Name</label>
                        <input id="BankName" type="text" class="form-control" placeholder="Bank Name" value="@Model.BankName">
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label">Cheques From</label>
                        <input id="ChequesFrom" type="text" class="form-control" placeholder="Cheques Number" value="@Model.ChequesFrom">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label">Branch Name</label>
                        <input id="BranchName" type="text" class="form-control" placeholder="Branch Name" value="@Model.BranchName">
                    </div>
                   
                    <div class="form-group">
                        <label for="position" class="col-form-label"> To</label>
                        <input id="ChequesTo" type="text" class="form-control" placeholder="Cheques Number" value="@Model.ChequesTo">
                    </div>

                </div>
            </div>

            <div class="col-sm-6">

                <div class="ibox-title">
                    Co-applicant Details
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label">  Name</label>
                        <input id="CoAplicantFullName" type="text" class="form-control" placeholder=" Name" value="@Model.CoAplicantFullName">
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label"> Age</label>
                        <input id="CoAplicantAge" type="text" class="form-control" placeholder=" Age" value="@Model.CoAplicantAge">
                    </div>
                </div>
                <div class="col-sm-6 b-r">
                    <div class="form-group">
                        <label for="position" class="col-form-label"> Occupation</label>
                        <input id="CoAplicantOccupation" type="text" class="form-control" placeholder=" Occupation" value="@Model.CoAplicantOccupation">
                    </div>
                    <div class="form-group">
                        <label for="position" class="col-form-label"> Monthly Income</label>
                        <input id="CoApplicantMonthlyIncome" type="text" class="form-control" placeholder=" Monthly Income" value="@Model.CoApplicantMonthlyIncome">
                    </div>
                </div>



            </div>
        </div>

    </div>




    <script>
        $(document).ready(function () {
            //Add more Co-Applicant
            $("#Addmore").on("click", function () {
                var data = '<div class="body mainDiv">  <i class="fa fa-times deleterow" aria-hidden="true"></i> <div class="row"><div class="col-sm-4"> <div class=""> <label for="position" class="col-form-label"> Full Name</label> <input id="CoApplicantFullName" type="text" class="form-control" placeholder="Co-Applicant’s Full Name"></div>  </div><div class="col-sm-4"> <div class=""> <label for="position" class="col-form-label"> Age</label>   <input id="CoApplicantAge" type="text" class="form-control" placeholder="Co-Applicant’s Age"> </div> </div> </div>  <div class="row">   <div class="col-sm-4">   <div class="">  <label for="position" class="col-form-label"> Occupation</label>  <input id="CoApplicantOccupation" type="text" class="form-control" placeholder="Co-Applicant’s Occupation">   </div>  </div>         <div class="col-sm-4">     <div class="">          <label for="position" class="col-form-label"> Monthly Income</label>   <input id="CoApplicantMonthlyIncome" type="text" class="form-control" placeholder=" Monthly Income"> </div> </div> </div> </div>';
                $('#ShowMoreCoApplicant').append(data);
            });
            $(document).on('click', 'i.deleterow', function (e) {
                e.preventDefault();
                $(this).parents('.mainDiv').remove();
            });


            //Copy address
            $("#PAddress").on("click", function () {

                if (this.checked) {
                    $("#PresentAddress").val($("#PermanentAddress").val());

                } else {

                    $('#PresentAddress').val("");

                }

            });
            //pan card
            $('#AddPanCard').on('click', function () {
                $('#AddPanFile').click();
                $('#AddPanFile').change(function (e) {

                    var filePanName = e.target.files[0].name;
                    document.getElementById('PanfileLink').href = "../../UserDocument/PanCard/" + filePanName;

                    document.getElementById('PanfileName').innerHTML = filePanName;
                    UploadDocumentPanCardFile();
                });
                function UploadDocumentPanCardFile() {

                    if (window.FormData !== undefined) {

                        var fileUpload = $("#AddPanFile").get(0);
                        var files = fileUpload.files;

                        //var ext = $('#fileadhar').val().split('.').pop().toLowerCase();

                        // Create FormData object
                        var fileData = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        $.ajax({
                            url: '/Master/UploadDocumentPan',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                alert('file Uploaded sucesssfully');

                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    }
                    else {
                        alert("FormData is not supported.");
                    }
                }
            });



            //aadharcard upload
            $('#AddAadharCard').on('click', function () {
                debugger;
                $('#AddAdharFile').click();
                $('#AddAdharFile').change(function (e) {
                    //var fileadhar = e.target.files[0].name;
                    //alert(fileadhar);
                    //var data = '<a href="../../UserDocument/Aadharcard/' + fileadhar + '" id="AdharfileLink"><label id="adharName"> ' + fileadhar + '</label></a>';
                    //$('#adharView').append(data);
                    ////document.getElementById('adharName').innerHTML = fileadhar;
                    //UploadDocumentAadharFile();

                    var fileAdharName = e.target.files[0].name;
                    document.getElementById('AdharfileLink').href = "../../UserDocument/Aadharcard/" + fileAdharName;

                    document.getElementById('AdharfileName').innerHTML = fileAdharName;
                    UploadDocumentAadharFile();

                });
                function UploadDocumentAadharFile() {

                    if (window.FormData !== undefined) {

                        var fileUpload = $("#AddAdharFile").get(0);
                        var files = fileUpload.files;

                        //var ext = $('#fileadhar').val().split('.').pop().toLowerCase();

                        // Create FormData object
                        var fileData = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        $.ajax({
                            url: '/Master/UploadDocumentAdhar',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                alert('file Uploaded sucesssfully');
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    }
                    else {
                        alert("FormData is not supported.");
                    }
                }
            });
            //Save Apllication

            $('#btnApproveRequest').on('click', function () {
              
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/Master/SendToApproval",
                    data: {
                        ApplicantID: $("#ApplicantID").val(),
                        CreatedBy: 1


                    },
                    success: function (result) {
                        alert(result)
                        // location.href = "ApplicationList";


                    },
                    error: function (errorData) {
                    }
                });

            });


            $('#Save').on('click', function () {
               
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: "/Master/SaveApplication",
                    data: {
                        ApplicantFullName: $("#ApplicantFullName        ").val(),
                        ApplicantAge: $("#ApplicantAge ").val(),
                        ApplicantOccupation: $("#ApplicantOccupation ").val(),
                        MobileNo: $("#MobileNo ").val(),
                        PanNo: $("#PanNo          ").val(),
                        AdharCardNo: $("#AdharCardNo").val(),
                        ApplicantMonthlyIncome: $("#ApplicantMonthlyIncome").val(),
                        LoanRequest: $("#LoanRequest ").val(),
                        LoanReason: $("#LoanReason").val(),
                        CreatedBy: 2,
                        PresentAddress: $("#PresentAddress ").val(),
                        OfficeAddress: $("#OfficeAddress").val(),
                        PermanentAddress: $("#PermanentAddress").val(),
                        BankName: $("#BankName ").val(),
                        BranchName: $("#BranchName").val(),
                        ChequesFrom: $("#ChequesFrom").val(),
                        ChequesTo: $("#ChequesTo").val(),
                        CoAplicantFullName: $("#CoAplicantFullName").val(),
                        CoAplicantAge: $("#CoAplicantAge").val(),
                        CoAplicantOccupation: $("#CoAplicantOccupation ").val(),
                        CoApplicantMonthlyIncome: $("#CoApplicantMonthlyIncome").val(), 
                        Pancardpath: document.getElementById('PanfileName').innerHTML,
                        Adharcardpath: document.getElementById('AdharfileName').innerHTML,
                        UploadBy: 2
                        , ApplicantID: $("#ApplicantID").val()
                    },
                    success: function (result) {
                        //  alert(result);
                        location.href = "ApplicationList";


                        //location.reload(this);
                    },
                    error: function (errorData) {
                    }
                });

            });
           
           
        });

    </script>
