@model IEnumerable<KrishnaFinance.Models.ApplicationList>
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
<script src="~/js/jquery-2.1.1.js"></script>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    <th>#</th>
                    <th>Name </th>
                    <th>Loan Amount </th>
                    <th>Mobile</th> 
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.ApplicantID</td>
                    <td>@item.ApplicantName</td>
                    <td>@item.LoanAmount</td>
                    <td>@item.ApplicantMobileNo</td>
                    <td>@item.ApprovalStatus</td>
                    <td>                      

                        <div class="col-sm-8">
                            <a href="@Url.Action("AddApplication", "Master",new {ApplicantID = @item.ApplicantID,AppStatus=@item.ApprovalStatus})"><i class="fa fa-pencil-square-o m-r-sm" aria-hidden="true" title="Edit"></i><span></span></a>

                            <a href="../Master/PrintApplication?ApplicantID=@item.ApplicantID"> <i class="fa fa-print  m-r-sm" aria-hidden="true" title="Print"></i></a>

                            @if (item.ApprovalStatus != "" && Session["RoleID"].ToString() == "2")
                            {

                                if (item.ApprovalStatus == "Reject")
                                {
                                 <a href="../Master/ApprovalResponse?ApplicantID=@item.ApplicantID">  <i class="fa fa-ban" aria-hidden="true" style="color: orangered;"></i></a>
                                }
                                else if (item.ApprovalStatus == "Approval pending")
                                {
                                    <a href="../Master/ApprovalResponse?ApplicantID=@item.ApplicantID"><i class="fa fa-clock-o" aria-hidden="true" style="font-size: 15px;color: darkgray;"></i></a>
                                }
                                else if (item.ApprovalStatus == "Approved")
                                {
                                    <a href="../Master/ApprovalResponse?ApplicantID=@item.ApplicantID"> <i class="fa fa-check  m-r-sm " aria-hidden="true" title="Approved"></i></a>
                                }


                            }
                            else if (item.ApprovalStatus != "Approved" && item.ApprovalStatus != "Approval pending")
                            {
                                <a href="../Master/addApplication?ApplicantID=@item.ApplicantID"> <i class="fa fa-paper-plane  m-r-sm" id="btnApproveRequest" aria-hidden="true" title="Send For Approval"></i></a>
                            }
                            
                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    
        <div class="pnl-pagination m-b-md1">
            <div class="pull-right">

                @Html.PagedListPager((IPagedList)Model, page => Url.Action("", "", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 4, DisplayPageCountAndCurrentLocation = true }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "mgrid", OnComplete = "PagedOnComplete" }))
                @if (Model.Count() == 0)
                {
                    <ul class="pagination pull-right"></ul>
                }
            </div>
        </div> 
</div>

<script>
    $(document).ready(function () {
        //send for approval
       



        $('#mgrid .pagination li a').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            $('.loader').show();
            var temp = $(this).attr('href');


            var pageid = temp.replace('/?page=', '');

            $.ajax({
                url: "@Url.Action("LoadApplicationGrid", "Master")",
                contentType: "application/json",
                data: JSON.stringify({
                    page: pageid,                   
                }),
                dataType: "text",
                type: "POST",
                async: true,
                success: function (data) {
                    $('#mgrid').html(data);

                },
                error: function (data) {
                },
                complete: function () {
                }
            });

        });

     
    });

</script>