@model IEnumerable<KrishnaFinance.Models.CollectionList>
@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
@{ 
    Layout = null;
}
<style>
    .disabled {
        text-decoration: none;
        color: black;
    }
</style>
<script src="~/js/jquery-2.1.1.js"></script>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                  
                    <th>EMI Date</th>
                    <th>Name</th>
                    <th>Loan Amount </th>
                    <th>Mobile</th>
                    <th>Duration</th>
                    <th>InterestRate</th>
                    <th>Principal Amount</th>
                    <th>Total Amount</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   
                <tr>
                    <td>@item.EMIDate</td>
                    
                    <td>


                        @if (item.Status == "Not Paid" || item.Status == "dues")
                        {
                        <a href="@Url.Action("Collectiondata", "Master",new {ApplicantID = @item.ApplicantID,TransectionID=@item.TransectionID})">@item.ApplicantFullName</a>

                            @*<a href="../Master/Collectiondata?TransactionID=@item.TransectionID">@item.ApplicantFullName</a>*@
                        }
                        else
                        {
                            @item.ApplicantFullName

                        }

                    </td>
                   


                    <td>@item.LoanAmount</td>
                    <td>@item.MobileNo</td>
                    <td>@item.Duration</td>
                    <td>@item.InterestRate</td>
                    <td>@item.PrincipalAmount</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.Status</td>
                    <td>


                        <div class="col-sm-8">

                        

                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
      
    </div>
</div>
<div class="row">

    <div class="pnl-pagination m-b-md1">
        <div class="pull-right">

            @Html.PagedListPager((IPagedList)Model, page => Url.Action("", "", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { MaximumPageNumbersToDisplay = 4, DisplayPageCountAndCurrentLocation = true }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "cgrid", OnComplete = "PagedOnComplete" }))
            @if (Model.Count() == 0)
            {
                <ul class="pagination pull-right"></ul>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    

        $('#cgrid .pagination li a').on('click', function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            $('.loader').show();
            var temp = $(this).attr('href');


            var pageid = temp.replace('/?page=', '');

            $.ajax({
            url: "@Url.Action("LoadCollectionGrid", "Master")",
                contentType: "application/json",
                data: JSON.stringify({
                page: pageid,
                    CName: $('#CustomerFilter').val(),
                   
                }),
                dataType: "text",
                type: "POST",
                async: true,
                success: function (data) {
                 
                    $('#cgrid').html(data);

                },
                error: function (data) {

                },
                complete: function () {
                }
            });

        });

       
    });

</script>
