

@model KrishnaFinance.Models.GetTransection

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    .Rightside {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
    }
</style>
<div class="row">
    <div class="col-lg-7">
        <div class="ibox">
            <div class="ibox-title">
                <h5> EMI Payment  </h5>
                <div class="pull-right">
                  
                </div>
            </div>
            <div class="ibox-content">

                <form class="form-horizontal">
                    <input type="text" class="hidden" value="@Model.TransectionID" id="TransectionID" />
                    <input type="text" class="hidden" value="@Model.ApplicantID" id="ApplicantID" />
                    <div class="form-group">
                        <label class="col-lg-3 "> Payment Status</label>
                        <div class="col-lg-9">
                            @Html.DropDownList("status", new SelectList((System.Collections.IEnumerable)ViewData["EMIStatus"], "Value", "Text"), "Select Status", new { @class = "form-control ", @id = "status", Title = "status" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 ">EMI Amount</label>
                        <div class="col-lg-9"><input type="text" placeholder="EMI Amount" class="form-control" id="TotalAmount" value="@Model.TotalEMI" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 ">Additional Charges</label>
                        <div class="col-lg-9"><input type="text" placeholder="Additional Charges" class="form-control" id="AdditionalCharges"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 ">Total</label>
                        <div class="col-lg-9"><input type="text" placeholder="Total" class="form-control" id="Total" value="" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 "> EMI Date</label>
                        <div class="col-lg-9"><input type="text" placeholder="EMI Date" class="form-control" id="EMIDate" value="@ViewBag.EMIDate" disabled></div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 "> EMI Paid Date</label>
                        <div class="col-lg-9"><input type="text" placeholder="EMI Paid Date" class="form-control" id="EMIPaidDate" value="@DateTime.Now" disabled></div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 "> Select Payment method </label>
                        @*<div class="col-lg-2">
                            <input type="radio" id="Cash" name="Cash" value=""> Cash
                        </div>*@
                        <div class="col-lg-2">
                            <input type="radio" id="cheque" name="cheque" value=""> cheque
                        </div>
                        <div class="col-lg-2">
                            <input type="radio" id="Online" name="Online" value=""> Online
                        </div>

                    </div>
                    <div class="form-group" id="CashBox">
                        <label class="col-lg-4 "> Total Amount</label>
                        <div class="col-lg-6"><input type="text" placeholder="TotalAmount" class="form-control" id="TotalAmount" value=""></div>
                    </div>
                    <div class="form-group" id="chequeBox">
                        <label class="col-lg-4 "> Cheque Number</label>
                        <div class="col-lg-6"><input type="text" placeholder="Cheque Number" class="form-control" id="ChequeNumber" value=""></div>
                    </div>
                    <div class="form-group" id="TransactionBox">
                        <label class="col-lg-4 "> Transaction ID</label>
                        <div class="col-lg-6"><input type="text" placeholder="Transaction ID" class="form-control" id="BankTransactionID" value=""></div>
                    </div>


                    <div class="row form-group">

                        <div class="col-md-8 pull-right">
                            <div class="pull-right">
                                <a class="btn btn-primary" href="/Master/CollectionList">Cancel</a>
                                <button class="btn btn-primary" id="btnsave" type="button">Save </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Applicant Details</h5>
                <div class="pull-right" >
                    <div  style="margin-top:-6px" >
                        <a class="btn btn-primary" href="/Master/Settlement?ApplicantID=@Model.ApplicantID"> Full Settlement  </a>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group ">
                        <div class="col-sm-6 Rightside ">
                            Applicant :
                        </div>
                        <div class="col-sm-6 pull-right ">
                            @Model.ApplicantFullName
                        </div>

                    </div>
                    <div class="form-group " style="padding-top:10px; ">
                        <div class="col-sm-6 Rightside ">
                            Loan Amount :
                        </div>
                        <div class="col-sm-6 pull-right ">
                            @Model.LoanAmount
                        </div>

                    </div>
                    <div class="form-group " style="padding-top:10px; ">
                        <div class="col-sm-6 Rightside ">
                            Disbursement Date :
                        </div>
                        <div class="col-sm-6 pull-right ">
                          @ViewBag.DisbursementDate
                        </div>

                    </div>
                    
                    <div class="form-group " style="padding-top:10px; ">
                        <div class="col-sm-6 Rightside ">
                            EMI Amount :
                        </div>
                        <div class="col-sm-6 pull-right ">
                            @Model.TotalEMI
                        </div>

                    </div>
                    <div class="form-group " style="padding-top:10px; ">
                        <div class="col-sm-6 Rightside ">
                            Duration :
                        </div>
                        <div class="col-sm-6 pull-right ">
                            @Model.Duration Months
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>
</div>



<script>
    $(document).ready(function () {

        $('#AdditionalCharges').on('keyup', function () {
            var remaningAmt = $('#TotalAmount').val();
            var ServiceAmt = $('#AdditionalCharges').val();
            var Total = (remaningAmt * 1) + (ServiceAmt * 1);
            $('#Total').val(Total);

        });

        $('#TransactionBox').hide();
        $('#chequeBox').hide();
        $('#CashBox').hide();

        $("input[name$='Cash']").click(function () {

            $("#CashBox").show();


        });
        $("input[name$='cheque']").click(function () {

            $("#chequeBox").show();

        });
        $("input[name$='Online']").click(function () {

            $("#TransactionBox").show();

        });

        $('#btnsave').on('click', function () {
           
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Master/EMIUpdate",
                data: {
                    TransectionID: $("#TransectionID").val(),
                    BankTransactionID: $("#BankTransactionID").val(),
                    EMIPaidDate: $("#EMIPaidDate").val(),
                    status: $("#status").val(),
                    AdditionalCharges: $("#AdditionalCharges").val(),
                    ApplicantID: $("#ApplicantID").val()
                    
                },
                success: function (result) {
                    alert(result);

                },
                error: function (errorData) {
                }
            });

        });
    });

</script>

