@model KrishnaFinance.Models.PrintApplication


<style>
    

</style>

    <div class="container-fluid" style="margin-right:10px">
        <div class="row">
            
            <center> <h2>KRISHNA FINANCE</h2></center>
        </div>

        <div class="row">

            <div class="col-md-6">
                Address:&nbsp;@Model.CompanyAddress<br />
                License No:&nbsp;@Model.MoneyLenderLicenseNo<br />
                Phone / Mobile:&nbsp;@Model.CompanyMobileNo<br />
                Price Rs:&nbsp;@Model.CompanyPrice    /-<br />
                Date: &nbsp;@DateTime.Now
            </div>
        </div>
        <br />
        <div class="row" style="margin-right:80px">
            <center>  ( Application for Unsecured Loan)</center>
        </div>
        <br />


        <div class="row" style="margin-left:130px">
            <table>

                <tr>
                    <td>
                        <div class="col-sm-6" style="margin-right:100px">
                            Applicant   <br /> (@Model.ApplicantFullName)
                                        <div class="col-md-4" style="border: solid 1px; width:90px;height:90px">
                                           
                                        </div>

                        </div>

                    </td>
                    <td>
                        <div class="col-sm-6" style="margin-right:100px">
                            Co-Applicant <br /> (@Model.CoAplicantFullName)
                                              <div class="col-md-4" style="border: solid 1px; width:90px;height:90px">
                                              </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <br />
        <div style="margin-left:50px">
            <div class="row">
                <div class="col-sm-12" style="margin-right:30px">

                    1.	Full Name :&nbsp;&nbsp;&nbsp;@Model.ApplicantFullName&nbsp;&nbsp;&nbsp;Age:&nbsp;@Model.ApplicantAge&nbsp;Years.&nbsp;&nbsp;&nbsp;Occupation:&nbsp;&nbsp;@Model.ApplicantOccupation<br />
                    2.	Co-Applicant’s  Full Name :&nbsp;&nbsp;&nbsp;@Model.CoAplicantFullName&nbsp;&nbsp;&nbsp;Age:&nbsp;&nbsp;@Model.CoAplicantAge&nbsp;Years.&nbsp;&nbsp;&nbsp;Occupation:&nbsp;&nbsp;@Model.CoAplicantOccupation<br />
                    3.	Present Address :&nbsp;&nbsp;@Model.PresentAddress&nbsp;&nbsp;, Mobile No:&nbsp;&nbsp;@Model.MobileNo <br />
                    4.	Office Address :&nbsp;&nbsp;&nbsp;@Model.OfficeAddress <br />
                    5.	Permanent Address :&nbsp;&nbsp;&nbsp;@Model.PermanentAddress <br />
                    6.	PAN No :&nbsp;&nbsp;&nbsp;@Model.PanNo <br />
                    7.	Adhar Card No :&nbsp;&nbsp;&nbsp;@Model.AdharCardNo <br />
                    8.	Monthly/Annual Income of the Applicant Rs. :&nbsp;&nbsp;&nbsp;@Model.ApplicantMonthlyIncome <br />
                    9.	Monthly/Annual Income of the Co-Applicant Rs. :&nbsp;&nbsp;&nbsp;@Model.CoApplicantMonthlyIncome <br />
                    10.	Request for Loan of Rs:&nbsp;&nbsp;&nbsp;@Model.LoanRequest&nbsp;&nbsp; <br />
                    11.	Loan is required for :&nbsp;&nbsp;&nbsp;@Model.LoanReason <br />
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-sm-10" style="margin-right:150px">
                    <p>
                        Rules and regulations of the loan and it’s repayment have been told / advised to me/us& 
                        I/We have consented for the same. Likewise, changes / additions/ deletions,
                        if any in the rules and regulations shall be binding on me/us. I /We,
                        declare that the above information is true and correct to the best of my / our knowledge.
                    </p>
                </div> 
            </div><br />
            <div class="row">
                <div class="col-sm-10" style="margin-right:150px">
                    <p>
                        I/ We
                        has / have borrowed Rs.&nbsp;&nbsp;@Model.LoanRequest
                        ( Rupees in words  )  from   <b>KRISHNA FINANCE</b> @Model.CompanyAddress.


                        <br />

                        I have issued Cheques Numbers from &nbsp;&nbsp;&nbsp; @Model.ChequesFrom &nbsp;to&nbsp; @Model.ChequesTo   
                        of (@Model.BankName , @Model.BranchName) duly filled in and signed by me
                    </p>
                </div>
            </div><br />
        </div>
        <center>
            <div class="row" style="margin-left:50px;margin-bottom:20px">
                <table>
                    <tr>
                        <td>
                            <div class="col-sm-6" style="margin-right:150px">Applicant’s Signature. <br />  <br /> <br /> <br />(@Model.ApplicantFullName)</div>
                        </td>

                        <td>
                            <div class="col-sm-6" style="margin-right:150px"> Co-Applicant’s Signature<br /> <br /><br />  <br /> (@Model.CoAplicantFullName)</div>
                        </td>
                    </tr>
                </table>


            </div>
        </center>
    </div>


<div class="row print">
    <button type="button" class="btn btn-primary btn-md Save pull-right" id="Print" onclick="myFunction()">Print  <i class="fa fa-print " aria-hidden="true"></i></button>
</div>
<script>
    function myFunction() {
        $('.print').css('display', 'none');
        window.print();
    }

    window.close(function () {
        $('.print').css('display', 'block');
    })
</script>

